* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: "beyond";
    src: url("beyond_the_mountains.otf");
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    font-family: 'beyond';
    justify-items: center;
}

.names {
    display: flex;
    justify-content: center;
    gap: 24px;
    font-size: 2rem;
    padding: 16px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 320px;
    height: 320px;
    gap: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid lightgrey;
    font-size: 2rem;

    box-shadow: 0px 0px 2px 1px lightgray;
}

.box:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

form {
    position: absolute;
    align-self: center;
    font-size: 1.5rem;
}

form ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form ul {
    list-style-type: none;
}

form li {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
form input {
    font-size: 1.5rem;
}

form button {
    width: 100%;
    margin-top: 8px;
    padding: 8px;
}