* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: "beyond";
    src: url("beyond_the_mountains.otf");
}

html, body {
    height: 100%;
}

body {
    font-family: 'beyond';
}

.main-content {
    display: grid;
    justify-items: center;
    gap: 8px;
}

.restart {
    padding: 8px 16px;
    font-size: 1.2rem;
    font-family: 'beyond';
    border-radius: 8px;
    background-color: lightsalmon;
}

.main-content h1 {
    font-size: 4rem;
    padding: 32px 16px;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 320px;
    height: 320px;
    gap: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid lightgrey;
    font-size: 2rem;

    box-shadow: 0px 0px 2px 1px lightgray;
}

.box:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.verdict {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 4rem;
}